body {
  margin: 0;
  padding: 0;
  font-family: Open Sans, Everson Mono, Helvetica;
}
.grade1 {
  font-size: 200%;
  margin-bottom: 0;
  margin-top: 0;
  display: block;
  color: #00bcd4;
  text-align: center;
}
.grade2 {
  font-size: 150%;
  margin-bottom: 0;
  margin-top: 20px;
  display: block;
  color: #00bcd4;
  text-align: center;
}
.grade3 {
  font-size: 120%;
  margin-bottom: 0;
  margin-top: 20px;
  display: block;
  color: #00bcd4;
  text-align: center;
}
.ircclient {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  background: -moz-linear-gradient(top, #fff 0%, #e5e5e5 100%);
  background: -webkit-linear-gradient(top, #fff 0%, #e5e5e5 100%);
  background: linear-gradient(to bottom, #fff 0%, #e5e5e5 100%);
}
.ircclient .coverwindow {
  position: absolute;
  width: 100%;
  height: 100%;
}
.ircclient .coverwindow .wrapper {
  width: 320px;
  margin: auto;
  margin-top: 5%;
  padding: 15px;
  background-color: #f7f7f7;
  border: 1px solid #dadada;
  box-shadow: 4px 4px 18px #d6d6d6;
}
.ircclient .coverwindow .wrapper .msg.error {
  color: #f00;
}
.ircclient .coverwindow .wrapper label {
  display: block;
  font-size: 80%;
  margin-top: 5px;
  color: #2196f3;
}
.ircclient .coverwindow .wrapper input[type=text],
.ircclient .coverwindow .wrapper input[type=number] {
  padding: 8px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #d2d2d2;
  box-shadow: inset 2px 2px 4px #dcdcdc;
}
.ircclient .coverwindow .wrapper input[type="submit"] {
  width: 318px;
  padding: 12px;
  margin-top: 20px;
  display: block;
  background: #87e0fd;
  background: -moz-linear-gradient(top, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
  background: -webkit-linear-gradient(top, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
  background: linear-gradient(to bottom, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
  border: 1px solid #2196f3;
  border-radius: 4px;
  color: #fff;
  font-size: 120%;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
.ircclient .coverwindow .wrapper input[type="submit"]:hover {
  background: #c4effc;
  background: -moz-linear-gradient(top, #c4effc 0%, #7fd5ef 40%, #39b7dd 100%);
  background: -webkit-linear-gradient(top, #c4effc 0%, #7fd5ef 40%, #39b7dd 100%);
  background: linear-gradient(to bottom, #c4effc 0%, #7fd5ef 40%, #39b7dd 100%);
}
.ircclient #chat .ircwrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}
.ircclient #chat .ircwrapper .toolbar {
  height: 56px;
  background-color: #00c7e0;
  position: relative;
  z-index: 15;
  box-shadow: 2px 2px 4px #cecece;
}
.ircclient #chat .ircwrapper .toolbar .logo {
  width: 56px;
  height: 56px;
  display: inline-block;
  margin: 0 5px;
}
.ircclient #chat .ircwrapper .toolbar .tabby {
  display: inline-block;
  height: 56px;
  position: absolute;
  left: 60px;
  right: 0;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}
.ircclient #chat .ircwrapper .toolbar .tabby .tab {
  display: inline-block;
  min-width: 60px;
  height: 25px;
  margin: 5px;
  margin-right: 0;
  padding: 10px;
  line-height: 25px;
  background-color: #29e1ff;
  border-radius: 5px;
  border: 1px solid #00d0ea;
  box-shadow: inset 4px 4px 8px #44ebff;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
}
.ircclient #chat .ircwrapper .toolbar .tabby .tab #unread {
  display: inline-block;
  min-width: 18px;
  height: 18px;
  background-color: #bf0000;
  border: 1px solid #b00;
  box-shadow: inset 2px 2px 3px #f00;
  text-align: center;
  font-size: 12px;
  margin: 0 5px;
  line-height: 20px;
  border-radius: 100%;
}
.ircclient #chat .ircwrapper .toolbar .tabby .tab #unread.none {
  display: none;
}
.ircclient #chat .ircwrapper .toolbar .tabby .tab #close {
  display: inline-block;
  width: 12px;
  text-align: center;
  color: #ff3d3d;
  float: right;
}
.ircclient #chat .ircwrapper .toolbar .tabby .tab:hover {
  background-color: #63e9ff;
  box-shadow: inset 4px 4px 8px #86f2ff;
}
.ircclient #chat .ircwrapper .toolbar .tabby .tab.active {
  background-color: #00b9d8;
  border: 1px solid #009aad;
  box-shadow: inset 4px 4px 8px #009caf;
  color: #fff;
}
.ircclient #chat .ircwrapper .toolbar .tabby .tab.active:hover {
  background-color: #00c7e8;
}
.ircclient #chat .ircwrapper .chatarea {
  position: absolute;
  top: 56px;
  width: 100%;
  bottom: 46px;
}
.ircclient #chat .ircwrapper .chatarea .smsc-nicklistbtn {
  background-image: url("/image/users.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 46px;
  height: 46px;
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: #00bcd4;
  border-radius: 100%;
  border: 5px solid #389dbb;
  display: none;
  opacity: 0.5;
  cursor: pointer;
}
.ircclient #chat .ircwrapper .chatarea .topicbar {
  position: absolute;
  top: 0;
  height: 20px;
  right: 0;
  left: 0;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding: 12px;
  display: none;
  overflow: hidden;
}
.ircclient #chat .ircwrapper .chatarea .letterbox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.ircclient #chat .ircwrapper .chatarea .nicklist {
  width: 280px;
  position: absolute;
  right: 0;
  border-left: 1px solid #ddd;
  padding: 10px;
  top: 0;
  bottom: 0;
  display: none;
  z-index: 11;
  background-color: #fff;
}
.ircclient #chat .ircwrapper .chatarea .nicklist .nick {
  cursor: pointer;
}
.ircclient #chat .ircwrapper .chatarea .nicklist .nick:hover {
  background-color: #b1ffc2;
}
.ircclient #chat .ircwrapper .chatarea .nicklist .nick .nickname {
  font-size: 120%;
}
.ircclient #chat .ircwrapper .chatarea .nicklist .nick .prefix {
  width: 16px;
  height: 16px;
  line-height: 16px;
  padding: 2px;
  display: inline-block;
  background-color: #05abe0;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  margin-right: 5px;
  font-weight: bold;
}
.ircclient #chat .ircwrapper .chatarea .nicklist .nick .no-prefix {
  width: 25px;
  display: inline-block;
}
.ircclient #chat .ircwrapper .chatarea.vnicks .nicklist {
  display: block;
}
.ircclient #chat .ircwrapper .chatarea.vnicks .letterbox {
  right: 301px;
}
.ircclient #chat .ircwrapper .chatarea.vnicks .topicbar {
  right: 301px;
}
.ircclient #chat .ircwrapper .chatarea.vtopic .topicbar {
  display: block;
}
.ircclient #chat .ircwrapper .chatarea.vtopic .letterbox {
  top: 45px;
}
.ircclient #chat .ircwrapper .input {
  position: absolute;
  bottom: 0;
  height: 46px;
  width: 100%;
  background-color: #00c7e0;
}
.ircclient #chat .ircwrapper .input .my_nickname {
  background-color: #00efef;
  margin: 5px;
  padding: 7px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-right: 20px;
  margin-right: 0;
  width: 183px;
  overflow: hidden;
}
.ircclient #chat .ircwrapper .input .inputwrapper {
  display: inline-block;
  position: absolute;
  margin: 5px 0;
  left: 210px;
  right: 55px;
  top: 0;
}
.ircclient #chat .ircwrapper .input .inputwrapper input {
  width: 100%;
  padding: 6px;
  font-size: 120%;
  border: 1px solid #929292;
  border-left: 0;
  box-shadow: inset 4px 4px 8px #d8d8d8;
}
.ircclient #chat .ircwrapper .input .sendbutton {
  background-image: url("/image/send.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 32px;
  position: absolute;
  height: 32px;
  float: right;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
.message.type_simple .timestamp {
  color: #696969;
}
.message.type_simple .timestamp:before {
  color: #607d8b;
  content: "[";
}
.message.type_simple .timestamp:after {
  color: #607d8b;
  content: "]";
}
.message.type_simple .sender {
  color: #3f51b5;
}
.message.type_simple .sender:before {
  content: "<";
}
.message.type_simple .sender:after {
  content: ">";
}
.message.type_simple .arrowin,
.message.type_simple .arrowout {
  font-weight: bolder;
}
.message .reason:before,
.message .hostmask:before {
  content: "(";
}
.message .reason:after,
.message .hostmask:after {
  content: ")";
}
.message .reason:before,
.message .hostmask:before,
.message .reason:after,
.message .hostmask:after {
  color: #009606;
  font-weight: bold;
}
.message .reason {
  color: #bf0000;
}
.message .hostmask {
  color: #004c88;
}
.message .arrowin {
  color: #00ab00;
}
.message .arrowout {
  color: #dc0f00;
}
.message.m_quit,
.message.m_part,
.message.m_kick {
  color: #f00;
}
.message.m_join {
  color: #008000;
}
.message.m_topic .content {
  color: #03a9f4;
  font-weight: bold;
}
.message.m_motd .content {
  font-family: monospace;
}
.message.m_nick .content,
.message.m_notice .content {
  color: #ff9800;
  font-weight: bold;
}
.message.m_action .actionee {
  color: #3f51b5;
}
@media all and (max-width: 600px) {
  .vnicks .nicklist {
    display: none !important;
  }
  .vnicks .letterbox {
    right: 0 !important;
  }
  .vnicks .topicbar {
    right: 0 !important;
  }
  .vnicks.vopentrig .nicklist {
    display: block !important;
  }
  .vnicks.vopentrig .topicbar {
    right: 45px;
  }
  .vnicks .smsc-nicklistbtn {
    z-index: 12;
    display: block !important;
  }
  .my_nickname {
    display: none;
  }
  .inputwrapper {
    left: 38px !important;
  }
}
