.grade1 {
  font-size: 200%;
  color: #00bcd4;
}
.grade2 {
  font-size: 150%;
  color: #00bcd4;
}
.grade3 {
  font-size: 120%;
  color: #00bcd4;
}
a {
  color: #23e7ff;
}
a:hover {
  color: #5dedff;
}
.ircclient {
  background: #1d1d1d;
}
.ircclient input[type=text],
.ircclient input[type=number],
.ircclient input[type=password] {
  padding: 8px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #d2d2d2;
  -webkit-box-shadow: inset 2px 2px 4px #dcdcdc;
  -moz-box-shadow: inset 2px 2px 4px #dcdcdc;
  box-shadow: inset 2px 2px 4px #dcdcdc;
}
.ircclient input[type="submit"] {
  background: #87e0fd;
  background: -moz-linear-gradient(top, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
  background: -webkit-linear-gradient(top, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
  background: linear-gradient(to bottom, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
  border: 1px solid #2196f3;
  color: #fff;
  font-size: 120%;
}
.ircclient input[type="submit"]:hover {
  background: #c4effc;
  background: -moz-linear-gradient(top, #c4effc 0%, #7fd5ef 40%, #39b7dd 100%);
  background: -webkit-linear-gradient(top, #c4effc 0%, #7fd5ef 40%, #39b7dd 100%);
  background: linear-gradient(to bottom, #c4effc 0%, #7fd5ef 40%, #39b7dd 100%);
}
.ircclient .coverwindow .wrapper {
  background-color: #3e3e3e;
  border: 1px solid #171717;
  -webkit-box-shadow: 4px 4px 18px #383838;
  -moz-box-shadow: 4px 4px 18px #383838;
  box-shadow: 4px 4px 18px #383838;
  color: #fff;
}
.ircclient .coverwindow .wrapper .msg.error {
  color: #f00;
}
.ircclient .coverwindow .wrapper label {
  font-size: 80%;
  color: #67bcff;
}
.ircclient .coverwindow .wrapper label.autosize {
  font-size: 90% !important;
}
.ircclient #chat .ircwrapper .toolbar {
  background-color: #008e8e;
  -webkit-box-shadow: 2px 2px 4px #585858;
  -moz-box-shadow: 2px 2px 4px #585858;
  box-shadow: 2px 2px 4px #585858;
}
.ircclient #chat .ircwrapper .toolbar .open_settings {
  background-image: url("../image/settings.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.ircclient #chat .ircwrapper .toolbar .tabby .tab {
  background-color: #00bfde;
  border: 1px solid #0092a5;
  -webkit-box-shadow: inset 4px 4px 8px #00d1ea;
  -moz-box-shadow: inset 4px 4px 8px #00d1ea;
  box-shadow: inset 4px 4px 8px #00d1ea;
  color: #fff;
}
.ircclient #chat .ircwrapper .toolbar .tabby .tab #unread {
  background-color: #bf0000;
  border: 1px solid #b00;
  -webkit-box-shadow: inset 2px 2px 3px #f00;
  -moz-box-shadow: inset 2px 2px 3px #f00;
  box-shadow: inset 2px 2px 3px #f00;
}
.ircclient #chat .ircwrapper .toolbar .tabby .tab #close {
  color: #ff3d3d;
}
.ircclient #chat .ircwrapper .toolbar .tabby .tab:hover {
  background-color: #00dbff;
  -webkit-box-shadow: inset 4px 4px 8px #23e7ff;
  -moz-box-shadow: inset 4px 4px 8px #23e7ff;
  box-shadow: inset 4px 4px 8px #23e7ff;
}
.ircclient #chat .ircwrapper .toolbar .tabby .tab.active {
  background-color: #006a7b;
  border: 1px solid #006a77;
  -webkit-box-shadow: inset 4px 4px 8px #003940;
  -moz-box-shadow: inset 4px 4px 8px #003940;
  box-shadow: inset 4px 4px 8px #003940;
  color: #fff;
}
.ircclient #chat .ircwrapper .toolbar .tabby .tab.active:hover {
  background-color: #00859a;
}
.ircclient #chat .ircwrapper .chatarea .smsc-nicklistbtn {
  background-image: url("../image/users.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #00bcd4;
  border: 5px solid #389dbb;
}
.ircclient #chat .ircwrapper .chatarea .topicbar {
  background-color: #2d2d2d;
  border-bottom: 1px solid #000;
  color: #fff;
}
.ircclient #chat .ircwrapper .chatarea .topicbar:hover {
  height: auto;
  max-height: 100px;
  overflow: auto;
  word-wrap: break-word;
}
.ircclient #chat .ircwrapper .chatarea .nicklist {
  background-color: #2d2d2d;
  border-left: 1px solid #000;
  color: #fff;
}
.ircclient #chat .ircwrapper .chatarea .nicklist .nick:hover {
  background-color: #006282;
}
.ircclient #chat .ircwrapper .chatarea .nicklist .nick .prefix {
  background-color: #05abe0;
  color: #fff;
}
.ircclient #chat .ircwrapper .chatarea .settings {
  color: #fff;
}
.ircclient #chat .ircwrapper .chatarea .settings .theme_button {
  background-color: #424242;
  border: 1px solid #444;
}
.ircclient #chat .ircwrapper .chatarea .settings .theme_button:hover {
  background-color: #545454;
}
.ircclient #chat .ircwrapper .chatarea .settings .theme_button.selected {
  border: 2px solid #00e2ff !important;
}
.ircclient #chat .ircwrapper .input {
  background-color: #005a5a;
}
.ircclient #chat .ircwrapper .input .my_nickname {
  background-color: #009494;
  color: #fff;
}
.ircclient #chat .ircwrapper .input .inputwrapper input {
  -webkit-box-shadow: inset 4px 4px 8px #001419;
  -moz-box-shadow: inset 4px 4px 8px #001419;
  box-shadow: inset 4px 4px 8px #001419;
  background-color: #002b36;
  border: 1px solid #008e8e;
  color: #fff;
}
.ircclient #chat .ircwrapper .input .sendbutton {
  background-image: url("../image/send.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.message {
  color: #fff;
}
.message.type_simple.mentioned {
  background-color: #006282;
}
.message.type_simple .timestamp {
  color: #afafaf;
}
.message.type_simple .timestamp:before {
  color: #607d8b;
  content: "[";
}
.message.type_simple .timestamp:after {
  color: #607d8b;
  content: "]";
}
.message.type_simple .sender {
  color: #3f51b5;
}
.message.type_simple .sender:before {
  content: "<";
}
.message.type_simple .sender:after {
  content: ">";
}
.message.type_simple .arrowin,
.message.type_simple .arrowout {
  font-weight: bolder;
}
.message.type_simple .channel {
  font-weight: bold;
  color: #a0a0a0;
}
.message.type_simple .m_listentry .channel {
  min-width: 120px;
  display: inline-block;
}
.message.type_simple .m_listentry .usercount {
  display: inline-block;
  min-width: 45px;
  text-align: center;
}
.message .reason:before,
.message .hostmask:before {
  content: "(";
}
.message .reason:after,
.message .hostmask:after {
  content: ")";
}
.message .reason:before,
.message .hostmask:before,
.message .reason:after,
.message .hostmask:after {
  color: #009606;
  font-weight: bold;
}
.message .reason {
  color: #bf0000;
}
.message .hostmask {
  color: #1999ff;
}
.message .arrowin {
  color: #00ab00;
}
.message .arrowout {
  color: #dc0f00;
}
.message.m_quit,
.message.m_part,
.message.m_kick {
  color: #f00;
}
.message.m_join {
  color: #008000;
}
.message.m_topic .content,
.message.m_names .content {
  color: #03a9f4;
  font-weight: bold;
}
.message.m_motd .content {
  font-family: monospace;
}
.message.m_nick .content,
.message.m_notice .content {
  color: #ff9800;
  font-weight: bold;
}
.message.m_action .actionee {
  color: #3f51b5;
}
.message.m_action .asterisk {
  color: #e4c000;
}
.message.m_mode .content {
  font-style: italic;
}
.message.m_mode .mode {
  color: #0f0;
}
.message.m_mode .asterisk {
  color: #05abe0;
}
.message.m_error .content {
  color: #f00;
  font-weight: bold;
}
.message.m_help .content {
  color: #0f0;
  font-weight: bold;
}
.message .irc-bg00,
.topicbar .irc-bg00,
.message .irc-bg0,
.topicbar .irc-bg0 {
  background-color: #fff;
}
.message .irc-bg01,
.topicbar .irc-bg01,
.message .irc-bg1,
.topicbar .irc-bg1 {
  background-color: #000;
}
.message .irc-bg02,
.topicbar .irc-bg02,
.message .irc-bg2,
.topicbar .irc-bg2 {
  background-color: #000080;
}
.message .irc-bg03,
.topicbar .irc-bg03,
.message .irc-bg3,
.topicbar .irc-bg3 {
  background-color: #008000;
}
.message .irc-bg04,
.topicbar .irc-bg04,
.message .irc-bg4,
.topicbar .irc-bg4 {
  background-color: #f00;
}
.message .irc-bg05,
.topicbar .irc-bg05,
.message .irc-bg5,
.topicbar .irc-bg5 {
  background-color: #a52a2a;
}
.message .irc-bg06,
.topicbar .irc-bg06,
.message .irc-bg6,
.topicbar .irc-bg6 {
  background-color: #800080;
}
.message .irc-bg07,
.topicbar .irc-bg07,
.message .irc-bg7,
.topicbar .irc-bg7 {
  background-color: #ffa500;
}
.message .irc-bg08,
.topicbar .irc-bg08,
.message .irc-bg8,
.topicbar .irc-bg8 {
  background-color: #ff0;
}
.message .irc-bg09,
.topicbar .irc-bg09,
.message .irc-bg9,
.topicbar .irc-bg9 {
  background-color: #0f0;
}
.message .irc-bg10,
.topicbar .irc-bg10 {
  background-color: #008080;
}
.message .irc-bg11,
.topicbar .irc-bg11 {
  background-color: #0ff;
}
.message .irc-bg12,
.topicbar .irc-bg12 {
  background-color: #0091bd;
}
.message .irc-bg13,
.topicbar .irc-bg13 {
  background-color: #ffc0cb;
}
.message .irc-bg14,
.topicbar .irc-bg14 {
  background-color: #808080;
}
.message .irc-bg15,
.topicbar .irc-bg15 {
  background-color: #d3d3d3;
}
.message .irc-fg00,
.topicbar .irc-fg00,
.message .irc-fg0,
.topicbar .irc-fg0 {
  color: #fff;
}
.message .irc-fg01,
.topicbar .irc-fg01,
.message .irc-fg1,
.topicbar .irc-fg1 {
  color: #000;
}
.message .irc-fg02,
.topicbar .irc-fg02,
.message .irc-fg2,
.topicbar .irc-fg2 {
  color: #000080;
}
.message .irc-fg03,
.topicbar .irc-fg03,
.message .irc-fg3,
.topicbar .irc-fg3 {
  color: #008000;
}
.message .irc-fg04,
.topicbar .irc-fg04,
.message .irc-fg4,
.topicbar .irc-fg4 {
  color: #f00;
}
.message .irc-fg05,
.topicbar .irc-fg05,
.message .irc-fg5,
.topicbar .irc-fg5 {
  color: #a52a2a;
}
.message .irc-fg06,
.topicbar .irc-fg06,
.message .irc-fg6,
.topicbar .irc-fg6 {
  color: #800080;
}
.message .irc-fg07,
.topicbar .irc-fg07,
.message .irc-fg7,
.topicbar .irc-fg7 {
  color: #ffa500;
}
.message .irc-fg08,
.topicbar .irc-fg08,
.message .irc-fg8,
.topicbar .irc-fg8 {
  color: #dcdc00;
}
.message .irc-fg09,
.topicbar .irc-fg09,
.message .irc-fg9,
.topicbar .irc-fg9 {
  color: #00e600;
}
.message .irc-fg10,
.topicbar .irc-fg10 {
  color: #008080;
}
.message .irc-fg11,
.topicbar .irc-fg11 {
  color: #00d2d2;
}
.message .irc-fg12,
.topicbar .irc-fg12 {
  color: #00f;
}
.message .irc-fg13,
.topicbar .irc-fg13 {
  color: #ffc0cb;
}
.message .irc-fg14,
.topicbar .irc-fg14 {
  color: #808080;
}
.message .irc-fg15,
.topicbar .irc-fg15 {
  color: #d3d3d3;
}
.message .irc-bold,
.topicbar .irc-bold {
  font-weight: bold;
}
.message .irc-italic,
.topicbar .irc-italic {
  font-style: italic;
}
.message .irc-underline,
.topicbar .irc-underline {
  text-decoration: underline;
}
