// Run `stylus -w main.styl -o css` to compile
props(prop, args)
    -webkit-{prop} args
    -moz-{prop} args
    -ms-{prop} args
    -o-{prop} args
    {prop} args
    
props2(prop, args)
    -webkit-{prop} args
    -moz-{prop} args
    {prop} args
    
transition()
    props('transition', arguments)

box-shadow()
    props2('box-shadow', arguments)

body
    margin: 0
    padding: 0
    font-family: Open Sans, Everson Mono, Helvetica

.grade1
    font-size: 200%
    margin-bottom: 0
    margin-top: 0
    display: block
    color: #00BCD4
    text-align: center

.grade2
    font-size: 150%
    margin-bottom: 0
    margin-top: 20px
    display: block
    color: #00BCD4
    text-align: center

.grade3
    font-size: 120%
    margin-bottom: 0
    margin-top: 20px
    display: block
    color: #00BCD4
    text-align: center

.ircclient
    position: absolute
    width: 100%
    height: 100%
    background: rgb(255,255,255)
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%)
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%)
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%)
    .coverwindow
        position: absolute
        width: 100%
        height: 100%
        &#authdialog
            z-index: 100
        .wrapper
            width: 320px
            margin: auto
            margin-top: 5%
            padding: 15px
            background-color: #f7f7f7;
            border: 1px solid #dadada;
            box-shadow 4px 4px 18px #d6d6d6;
            .msg.error
                color: red;
            label
                display: block
                font-size: 80%
                margin-top: 5px
                color: #2196F3
            input[type=text], input[type=number]
                padding: 8px;
                width: 300px;
                border-radius: 5px;
                border: 1px solid #d2d2d2;
                box-shadow inset 2px 2px 4px #dcdcdc;
            input[type="submit"]
                width: 318px;
                padding: 12px;
                margin-top: 20px;
                display: block;
                background: rgb(135,224,253);
                background: -moz-linear-gradient(top, rgba(135,224,253,1) 0%, rgba(83,203,241,1) 40%, rgba(5,171,224,1) 100%);
                background: -webkit-linear-gradient(top, rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%);
                background: linear-gradient(to bottom, rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%);
                border: 1px solid #2196F3;
                border-radius: 4px;
                color: #fff;
                font-size: 120%;
                font-weight: bold;
                text-transform: uppercase;
                cursor: pointer
                &:hover
                    background: rgb(196,239,252);
                    background: -moz-linear-gradient(top, rgba(196,239,252,1) 0%, rgba(127,213,239,1) 40%, rgba(57,183,221,1) 100%);
                    background: -webkit-linear-gradient(top, rgba(196,239,252,1) 0%,rgba(127,213,239,1) 40%,rgba(57,183,221,1) 100%);
                    background: linear-gradient(to bottom, rgba(196,239,252,1) 0%,rgba(127,213,239,1) 40%,rgba(57,183,221,1) 100%);
    #chat
        overflow: hidden;
        .ircwrapper
            position: absolute
            width: 100%
            height: 100%
            .toolbar
                height: 56px
                background-color: #00c7e0
                position: relative
                z-index: 15
                box-shadow 2px 2px 4px #cecece
                .open_settings
                    width: 36px;
                    height: 36px;
                    display: inline-block;
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    cursor: pointer;
                    background-image: url(../image/settings.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                    transition transform 0.2s linear
                    &:hover
                        transform: rotateZ(-90deg);
                .tabby
                    display: inline-block;
                    height: 56px;
                    position: absolute;
                    right: 45px;
                    left: 0;
                    white-space: nowrap;
                    overflow-x: auto;
                    overflow-y: hidden;
                    .tab
                        display: inline-block;
                        min-width: 60px;
                        height: 25px;
                        margin: 5px;
                        margin-right: 0;
                        padding: 10px;
                        line-height: 25px;
                        background-color: #29e1ff;
                        transition background-color 0.2s linear
                        border-radius: 5px;
                        border: 1px solid #00d0ea;
                        box-shadow inset 4px 4px 8px #44ebff;
                        color: #fff;
                        cursor: pointer;
                        font-weight: 600;
                        #unread
                            display: inline-block;
                            min-width: 18px;
                            height: 18px;
                            background-color: #bf0000;
                            border: 1px solid #b00;
                            box-shadow inset 2px 2px 3px #f00;
                            text-align: center;
                            font-size: 12px;
                            margin: 0 5px;
                            line-height: 20px;
                            border-radius: 100%;
                            &.none
                                display: none;
                        #close
                            display: inline-block;
                            width: 12px;
                            text-align: center;
                            color: #ff3d3d;
                            margin-left: 5px
                        &:hover
                            background-color: #63e9ff;
                            box-shadow inset 4px 4px 8px #86f2ff;
                        &.active
                            background-color: #00b9d8;
                            border: 1px solid #009aad;
                            box-shadow inset 4px 4px 8px #009caf;
                            color: #ffffff;
                            &:hover
                                background-color: #00c7e8;
            .chatarea
                position: absolute;
                top: 56px;
                width: 100%;
                bottom: 46px;
                .smsc-nicklistbtn
                    background-image: url(../image/users.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 46px;
                    height: 46px;
                    position: absolute;
                    top: 16px;
                    right: 16px;
                    background-color: #00bcd4;
                    border-radius: 100%;
                    border: 5px solid #389dbb;
                    display: none;
                    opacity: 0.5;
                    cursor: pointer;
                .topicbar
                    position: absolute;
                    top: 0;
                    height: 20px;
                    right: 0;
                    left: 0;
                    background-color: #fff;
                    border-bottom: 1px solid #ddd;
                    padding: 12px;
                    display: none;
                    overflow: hidden;
                    z-index: 10
                    &:hover
                        height: auto
                        max-height: 100px
                        overflow: auto
                        word-wrap: break-word
                .letterbox
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    overflow-y: auto;
                    white-space: pre-wrap;
                    word-wrap: break-word;
                    padding: 5px;
                .nicklist
                    width: 280px;
                    position: absolute;
                    right: 0;
                    border-left: 1px solid #ddd;
                    padding: 10px;
                    top: 0;
                    bottom: 0;
                    display: none;
                    z-index: 11;
                    background-color: #ffffff;
                    overflow: auto;
                    .nick
                        cursor: pointer;
                        &:hover
                            background-color: #b1ffc2;
                        .nickname
                            font-size: 120%;
                        .prefix
                            width: 16px;
                            height: 16px;
                            line-height: 16px;
                            padding: 2px;
                            display: inline-block;
                            background-color: #05abe0;
                            border-radius: 4px;
                            color: #fff;
                            text-align: center;
                            margin-right: 5px;
                            font-weight: bold;
                        .no-prefix
                            width: 25px;
                            display: inline-block;
                .settings
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    padding: 20px;
                    width: 60%;
                    min-width: 360px;
                    margin: auto;
                    overflow: auto;
                    .grade1, .grade2, .grade3
                        text-align: left;
                &.vnicks
                    .nicklist
                        display: block;
                    .letterbox
                        right: 301px;
                    .topicbar
                        right: 301px;
                &.vtopic
                    .topicbar
                        display: block;
                    .letterbox
                        top: 45px;
            .input
                position: absolute;
                bottom: 0;
                height: 46px;
                width: 100%;
                background-color: #00c7e0;
                .my_nickname
                    background-color: #00efef;
                    margin: 5px;
                    padding: 7px;
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                    padding-right: 20px;
                    margin-right: 0;
                    width: 183px;
                    overflow: hidden;
                .inputwrapper
                    display: inline-block
                    position: absolute
                    margin: 5px 0
                    left: 210px
                    right: 55px
                    top: 0
                    input
                        width: 100%
                        padding: 6px
                        font-size: 120%
                        border: 1px solid #929292
                        border-left: 0
                        box-shadow inset 4px 4px 8px #d8d8d8
                .sendbutton
                    background-image: url(../image/send.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 32px;
                    position: absolute;
                    height: 32px;
                    float: right;
                    top: 5px;
                    right: 5px;
                    cursor: pointer;
                        

.message
    &.type_simple
        &.mentioned
            background-color: #d4ffd4;
        .timestamp
            color: #696969;
            &:before
                color: #607D8B;
                content: "[";
            &:after
                color: #607D8B;
                content: "]";
        .sender
            color: #3F51B5;
            &:before
                content: "<";
            &:after
                content: ">";
        .arrowin, .arrowout
            font-weight: bolder;
        .channel
            font-weight: bold;
            color: #a0a0a0;
        .m_listentry 
            .channel
                min-width: 120px;
                display: inline-block;
            .usercount
                display: inline-block;
                min-width: 45px;
                text-align: center;

    .reason, .hostmask
        &:before
            content: "(";
        &:after
            content: ")";
        &:before, &:after
            color: #009606;
            font-weight: bold;
    .reason
        color: #bf0000;
    .hostmask
        color: #004c88;
    .arrowin
        color: #00ab00;
    .arrowout
        color: #dc0f00;
    &.m_quit, &.m_part, &.m_kick
        color: red;
    &.m_join
        color: green;
    &.m_topic .content
        color: #03A9F4;
        font-weight: bold;
    &.m_motd .content
        font-family: monospace;
    &.m_nick .content, &.m_notice .content
        color: #FF9800;
        font-weight: bold;
    &.m_action 
        .actionee
            color: #3f51b5;
        .asterisk
            color: #e4c000;
    &.m_mode 
        .content
            font-style: italic;
        .mode
            color: #008000;
        .asterisk
            color: #05abe0
    &.m_error .content
        color: red;
        font-weight: bold;

.message, .topicbar
    .irc-bg00,.irc-bg0 
        background-color: white
    .irc-bg01,.irc-bg1 
        background-color: black
    .irc-bg02,.irc-bg2 
        background-color: navy
    .irc-bg03,.irc-bg3 
        background-color: green
    .irc-bg04,.irc-bg4 
        background-color: red
    .irc-bg05,.irc-bg5 
        background-color: brown
    .irc-bg06,.irc-bg6 
        background-color: purple
    .irc-bg07,.irc-bg7 
        background-color: orange
    .irc-bg08,.irc-bg8 
        background-color: yellow
    .irc-bg09,.irc-bg9 
        background-color: lime
    .irc-bg10 
        background-color: teal
    .irc-bg11 
        background-color: cyan
    .irc-bg12 
        background-color: blue
    .irc-bg13 
        background-color: pink
    .irc-bg14 
        background-color: grey
    .irc-bg15 
        background-color: lightgrey
    .irc-fg00,.irc-fg0 
        color: white
    .irc-fg01,.irc-fg1 
        color: black
    .irc-fg02,.irc-fg2 
        color: navy
    .irc-fg03,.irc-fg3 
        color: green
    .irc-fg04,.irc-fg4 
        color: red
    .irc-fg05,.irc-fg5 
        color: brown
    .irc-fg06,.irc-fg6 
        color: purple
    .irc-fg07,.irc-fg7 
        color: orange
    .irc-fg08,.irc-fg8 
        color: #dcdc00
    .irc-fg09,.irc-fg9 
        color: #00e600
    .irc-fg10 
        color: teal
    .irc-fg11 
        color: #00d2d2
    .irc-fg12 
        color: blue
    .irc-fg13 
        color: pink
    .irc-fg14 
        color: grey
    .irc-fg15 
        color: lightgrey

@media all and (max-width: 600px)
    .vnicks
        .nicklist
            display: none !important;
        .letterbox
            right: 0 !important;
        .topicbar
            right: 0 !important;
        &.vopentrig
            .nicklist
                display: block !important;
            .topicbar
                right: 45px;
        .smsc-nicklistbtn
            z-index: 12;
            display: block !important;
    .my_nickname
        display: none;
    .inputwrapper
        left: 38px !important;
